@font-face {
  font-family: 'StarJedi-DGRW';
  src: url('../assets/fonts/SfDistantGalaxy-0l3d.ttf') format('truetype');
}

body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  background-color: #000;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

button {
  cursor: pointer;
  border: 0;
  outline: 0;
  &:hover {
    filter: brightness(1.1);
  }
}

* {
  box-sizing: border-box;
  font-family: 'StarJedi-DGRW', sans-serif;
  color: #ffe81f;
  font-weight: normal;
}
