html {
  box-sizing: border-box;
  font-size: 14px;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Amatic SC", cursive;
  text-transform: uppercase;
  background-color: #000;
}

.app-title {
  width: 100%;
  margin: 0 auto 10px auto;
}

.main-wrapper {
  max-width: 1280px;
  margin: 150px auto 0 auto;
  padding-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  z-index: 3;
}

.stats-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.stats-item {
  width: 43%;
  margin: 5px 0;
  display: flex;
  justify-content: space-between;
}

.buttons-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: auto;
  margin-bottom: 10px;
}

.shooting-range-wrapper {
  width: 60%;
  z-index: 4;
}

.metrics-wrapper {
  z-index: 4;
  width: 38%;
  font-size: 30px;
  color: #fff;
  text-align: center;
  padding: 0 1%;
}

.cup-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

h1 {
  text-align: center;
  font-size: 46px;
  line-height: 1;
  margin-bottom: 0;
  color: #fff;
}

.metrics-field {
  background: rgba(255, 255, 255, 0.2);
  padding: 5px 0;
  line-height: 1;
  border-radius: 1rem;
  display: inline-block;
  width: 70px;
  font-weight: bold;
}

.metrics-white {
  color: black;
  background: rgba(255, 255, 255, 0.9);
}

.ammo-none {
  background-color: red;
}

.game {
  width: 750px;
  height: 510px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  cursor: url("../assets/svg/crosshair.svg") 16 16, auto;
  background: #fff;
}

.hole {
  flex: 1 0 33.33%;
  overflow: hidden;
  position: relative;
  background: url("../assets/svg/star-wars-imperial-logo.svg") center center no-repeat #fff;
  background-size: 90%;
}

.hole1,
.hole2,
.hole3 {
  border-bottom: 1px solid #e9e9e9;
}

.trooper {
  background: url("../assets/svg/trooper.svg") bottom center no-repeat;
  background-size: contain;
  position: absolute;
  top: 100%;
  width: 160px;
  height: 160px;
  margin-left: calc(50% - 80px);
  margin-top: 40px;
  transition: top 0.5s;
}

.trooper:hover {
  cursor: url("../assets/svg/crosshairRed.svg") 16 16, auto;
}

.hole.up .trooper {
  top: 0;
}

.app-button {
  display: flex;
  width: 130px;
  height: 36px;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  font-family: "Amatic SC", cursive;
}

.finished {
  filter: invert(73%) saturate(454%) hue-rotate(90deg);
  transform: rotate(20deg);
}

.top-results {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.top-score-title {
  color: #fff;
  font-size: 40px;
  width: 100%;
  text-align: center;
  margin: 10px auto;
}

.top-element-wrapper {
  width: 33%;
  justify-content: center;
  align-items: center;
}

.top-element-wrapper img {
  max-width: 80px;
  max-height: 80px;
  width: auto;
  height: auto;
}

.last-game {
  width: 100%;
  margin-bottom: 15px;
}

@media (max-width: 1400px) {
  .main-wrapper {
    margin-top: 20px;
  }
}

@media (max-width: 1270px) {
  .app-title {
    margin-top: 10px;
  }

  .trooper {
    width: 140px;
    height: 140px;
    margin-left: calc(50% - 70px);
    margin-top: 20px;
  }

  .buttons-wrapper {
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

  .app-button {
    margin-bottom: 10px;
    margin-right: 5px;
  }

  .metrics-wrapper {
    width: 100%;
    max-width: 400px;
    font-size: 24px;
  }

  .shooting-range-wrapper {
    width: 100%;
  }

  .game {
    width: 560px;
    height: 400px;
  }
}

@media (max-width: 600px) {
  .game {
    width: 360px;
    height: 260px;
  }

  .trooper {
    width: 90px;
    height: 90px;
    margin-left: calc(50% - 45px);
    margin-top: 15px;
  }

  .app-button {
    width: 95px;
    height: 30px;
    font-size: 22px;
  }

  .app-title, .top-score-title {
    font-size: 32px;
  }

}

@media (max-width: 400px) {
  .trooper {
    width: 80px;
    height: 80px;
    margin-left: calc(50% - 40px);
    margin-top: 10px;
  }

  .game {
    width: 300px;
    height: 210px;
  }
}

@keyframes move-twink-back {
  from {
    background-position: 0 0;
  }

  to {
    background-position: -10000px 5000px;
  }
}

@-webkit-keyframes move-twink-back {
  from {
    background-position: 0 0;
  }

  to {
    background-position: -10000px 5000px;
  }
}

@-moz-keyframes move-twink-back {
  from {
    background-position: 0 0;
  }

  to {
    background-position: -10000px 5000px;
  }
}

@-ms-keyframes move-twink-back {
  from {
    background-position: 0 0;
  }

  to {
    background-position: -10000px 5000px;
  }
}

.stars,
.twinkling {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: block;
}

.stars {
  background: #000 url("../assets/img/stars.png") repeat top center;
  z-index: 1;
}

.twinkling {
  background: transparent url("../assets/img/twinkling.png") repeat top center;
  z-index: 2;
  -moz-animation: move-twink-back 200s linear infinite;
  -ms-animation: move-twink-back 200s linear infinite;
  -o-animation: move-twink-back 200s linear infinite;
  -webkit-animation: move-twink-back 200s linear infinite;
  animation: move-twink-back 200s linear infinite;
}

.modal-container {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, .5);
  z-index: 5;
  top: 0;
  left: 0;
  position: fixed;
  display: none;
}

.modal-dialog {
  background-color: #fff;
  width: 300px;
  height: 260px;
  position: fixed;
  top: calc(50% - 150px);
  left: calc(50% - 150px);
  transform: scale(0);
  transition: all 0.6s;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
}

.show-element {
  display: block;
}

.show-modal {
  transform: scale(1);
}

#winners-table {
  width: 100%;
  text-align: center;
  max-width: 320px;
  margin: auto
}

#winners-table td {
  overflow: hidden;
  width: 160px;
  max-width: 160px;
}

.winners-wrapper {
  color: white;
  z-index: 5;
  font-size: 30px;
  width: 100%;
  padding: 10px;
}

.winners-wrapper h2 {
  text-align: center;
  font-size: 34px;
}

.modal-container h3 {
  font-size: 32px;
}

button {
  cursor: pointer;
}

.form-group {
  width: 100%;
  margin-bottom: 15px;
}

.form-group>input {
  width: 88%;
  height: 30px;
}

.form-group>button {
  width: 45%;
  height: 30px;
  font-weight: bold;
}