.hole {
  flex: 1 0 33.33%;
  overflow: hidden;
  position: relative;
  background: url('../../assets/svg/star-wars-imperial-logo.svg') center center no-repeat #fff;
  background-size: 90%;
}

.hole1,
.hole2,
.hole3 {
  border-bottom: 1px solid #e9e9e9;
}

.trooper {
  background: url('../../assets/svg/trooper.svg') bottom center no-repeat;
  background-size: contain;
  position: absolute;
  top: 100%;
  width: 160px;
  height: 160px;
  margin-left: calc(50% - 80px);
  margin-top: 40px;
  transition: top 0.5s;
}

.trooper:hover {
  cursor: url('../../assets/svg/crosshairRed.svg') 16 16, auto;
}

.hole.up .trooper {
  top: 0;
}
