@use '../../styles/variables';

.header {
  height: variables.$header-height;
  position: fixed;
  width: 100%;
  border-bottom: 1px solid #ffe81f;
  background-color: #000;
  z-index: 2;
  .navbar {
    margin: 0 auto;
    display: flex;
    align-items: center;
    max-width: 1280px;
    width: 100%;
    justify-content: center;
    gap: 15px;
    padding: 0 30px;
    height: 100%;
  }

  .headerItem {
    display: block;
    max-height: 32px;
    text-decoration: none;
  }
}
