@use '../../styles/variables.scss';

.mainContainer {
  padding: calc(variables.$header-height + 10px) 10px 10px;
  margin: 0 auto;
  max-width: 1280px;
  display: flex;
  min-height: calc(100vh - variables.$footer-height);
}
